<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blog :: Home</title>
</head>
<body>
 <div class="container">
     <h1>blogCo</h1>
     <hr />
     <ul>
         <li><a th:href="@{/posts/new}">New Post</a></li>
     </ul>

     <div class="posts-container">
         <div class="post" th:each="post: ${posts}">
             <h2><a th:href="@{'/posts/'+ ${post.id}}"
                    th:text="${post.title}">Title</a>
             </h2>
             <h5 th:text=" 'Written by ' + ${post.account.firstName}">Account First Name</h5>
             <h5 th:text=" 'Published on ' + ${post.createdAt}">Created At</h5>
             <p th:text="${post.body}">body text</p>
             <br />
         </div>

     </div>
     <hr />
     <ul>
         <li><a th:href="@{/register}">Sign Up</a></li>
         <li><a th:href="@{/login}">Sign In</a></li>
     </ul>

 </div>
</body>
</html>